x-author-labels: &author-labels
  org.opencontainers.image.authors: 'DarkMatter999'

services:
  signalling:
    build:
      context: .
      dockerfile: Dockerfile.signalling
    container_name: signalling
    environment:
      SIGNALLING_PORT: ${SIGNALLING_PORT}
      SIGNALLING_HOST: ${SIGNALLING_HOST}
    ports:
      - '${SIGNALLING_PORT}:${SIGNALLING_PORT}'
    labels: *author-labels

  client:
    build:
      context: .
      dockerfile: Dockerfile.client
    container_name: client
    environment:
      SIGNALLING_PORT: ${SIGNALLING_PORT}
      SIGNALLING_HOST: signalling
    depends_on:
      - signalling
    labels: *author-labels

  peer:
    build:
      context: .
      dockerfile: Dockerfile.peer
    environment:
      SIGNALLING_PORT: ${SIGNALLING_PORT}
      SIGNALLING_HOST: signalling
    depends_on:
      - signalling
    labels: *author-labels
